'context-menu':
  '.tree-view.full-menu': [
    { 'label': 'Explode component view', 'command': 'statwolf-new-component-plugin:expandComponent'}
    { 'type' : 'separator' }
    {
      'label' : 'Copy Statwolf path'
      'command' : 'statwolf-new-component-plugin:copyStatwolfPath'
    }
    {
      'label' : 'New Statwolf component'
      'command': 'statwolf-new-component-plugin:toggle'
    }
  ]
  '.tab': [
    {
      'label' : 'Copy Statwolf path'
      'command' : 'statwolf-new-component-plugin:copyStatwolfPath'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Statwolf'
      'submenu': [
        {
          'label': 'Add new template'
          'command': 'statwolf-new-component-plugin:addNewTemplate'
        }
      ]
    ]
  }
]
