modules.export =

  'configuration':
    'base':
      'metaExtension': '.meta.json'
      'depsExtension': '.deps.json'
      'bindExtension': '.bindings.json'
      'templateExtension': '.template.html'
      'languageExtension':
        'Python': '.py'
        'R': '.r'

    'DashboardService':
      'extension': '.js'
      'coreFetcher': 'Body'
      'hasDependencies': true

    'DashboardForm':
      'extension': '.js'
      'coreFetcher': 'Resolver'
      'hasDependencies': false
      'hasBindings': true

    'DashboardController':
      'extension': '.js'
      'coreFetcher': 'Body'
      'hasDependencies': true

    'DashboardView':
      'extension': '.js'
      'coreFetcher': 'Body'
      'hasDependencies': true

    'DashboardModel':
      'extension': '.json'
      'coreFetcher': ''
      'hasDependencies': false

    'DashboardControlTemplate':
      'extension': '.js'
      'coreFetcher': 'Directive'
      'hasDependencies': true
      'hasTemplate': true

    'DashboardScript':
      'extension': ''
      'coreFetcher': 'Body'
      'hasDependencies': true
